* { color:0; background-color:transparent; border:0; border-style:none;}
window {
margin: 0px;
border-radius: 10px;
background-color: #0f1012;
font-size: 10px;
font-family: JetBrainsMono Nerd Font;
}

#input {
margin: 2px;
border: none;
color: #fafafa;
background-color: #1c1c1c;
}

#inner-box {
margin: 5px;
border: none;
background-color: #0f1012;
}

#outer-box {
margin: 5px;
border: none;
background-color: #0f1012;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f2f2f2;
background-color:0;
}

#entry:selected {
background-color: #18191c;
}

#img:selected {
  border-radius: 8px;
  padding-left:12px;
}

#text:selected {
  background-color:0;
  color:#f2f2f2;
}

#text::before {
  content: "hentai";
}
